/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #383838;
    flex-direction: column;
}


.intro {
    background-color:#ca3d3d;
    border-radius: 8px;
    padding: 10px;

}

.intro-item1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.intro:hover {
    border: 1px solid rgb(124, 124, 175);
}

.intro-items:hover {
    border: 1px solid rgb(124, 124, 175);
}

.intro-item1:hover {
    border: 1px solid rgb(152, 152, 192);
}

.intro-item2:hover {
    border: 1px solid rgb(124, 124, 175);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 1px;
    padding: 6px;
}


.gallery-item img {
    width: 100%;
    height: auto;
}

.gallery:hover  {
                    border: 1px solid red;
                }

.gallery-item:hover {
    border: 1px solid red;
}



.photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 1px;
    padding: 6px;
}


.photos-item img {
    width: 100%;
    height: auto;
}

.photos:hover  {
                    border: 1px solid red;
                }

.photos-item:hover {
    border: 1px solid red;
}


